{% extends 'store/main.html' %}
{% load static%}
{% block content %}

    <div class="row my-2">
		<div class="col-lg-4 order-lg-1 text-center">
			<img src="{{product.get_imageURL}}" width="200" height="200">
        </div>
        <div class="col-lg-8 order-lg-2">
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h3 class="mb-3">{{product.name}}</h3>
                    <h4 class="mb-3">${{product.price}}</h4>
                    <div class="row">
                        <div class="col-md-6">

							<p><strong>Description: </strong>{{product.description}}</p>
							<!-- <p><strong>E-Mail: </strong>{{user.email}}</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
    <div class="row my-2">
        <div class="col-lg-4 order-lg-1 text-center">

            <a href="{% url 'insert_cart' id 0%}" target="_parent">Add to Cart</a>
        </div>
        <div class="col-lg-6 order-lg-2">
            <div class="quantity">
                <a href="{% url 'update_item' product.id "add" 0%}"> <img src="{% static  'images/arrow-up.png' %}" alt="Inc Item" style="width:12px;height:12px;"> </a>
                <br>
                <a href="{% url 'update_item' product.id "remove" 0%}"> <img src="{% static  'images/arrow-down.png' %}" alt="Dec Item" style="width:12px;height:12px;"> </a>
            </div>
        </div>

    </div>
{% endblock %}